
/* Importa a fonte do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --main-color: #ff00ff;
    --text-color: #ffffff;
    --bg-color-01:#1f242d;
    --bg-color-02:#323946;
    --color-00:#0000001a;

    /* Extra */
    --color-01:#999999;
    --color-02:#009539;
    --color-02:#7950f2;
    --color-03:#c00000;
    --color-04:#232323;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


html{
   font-family: 'Poppins', sans-serif; 
   font-size: 16px;

}


body{
    background-color: var(--bg-color-01);
    color:var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    /* border:solid 1px var(--color-02);teste */
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor:default;
}

.nav-responsive{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
}


.nav a, .nav-responsive a{
    font-size: 1.2rem;
    color:var(--text-color);
    padding: 0.5rem 1rem;
    transition: o.4s;
    /* border:solid 1px var(--color-02);teste */
}

.nav a:hover ,.nav-responsive a:hover{
   color:var(--main-color);
   
}

section{
    min-height: 100vh;
     padding: 6rem 6rem 2rem;
     /* border:solid 1px var(--color-02);teste */
}

span{
    color: var(--main-color);
}

.home, .about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img img, .about-img img{
    width: 130%;
    
}

.about{
    background-color: var(--bg-color-01);
}

.home-content, .about-content{

    width: 45%;
}

.home-content h3, .about-content h3{
    font-weight: 700;
    font-size: 1.6rem;
}

.home-content h1, .about-content h1{
    font-weight: 700;
    line-height: 1.3;
    /* font-size: 2.7rem; */
}


.home-content p, .about-content p{
    margin-top: 1.2rem;
    text-align: justify;
}

.services h2,
.portfolio h2,
.contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.services-container .services-box{
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border:solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

.services-box{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}
.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.01);

}

.services-box i{
    font-size: 4.3rem;
    color:var(--main-color) ;
}

.services-box h3{
    font-size:1.5rem;
}

.services-box p{
    margin:0.5rem;
    letter-spacing: 0.1rem;

    /* Numero de linhas...  */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow:hidden ; 
    text-overflow: ellipsis;

}


.portfolio{
background-color:var(--bg-color-01) ;
}

.portfolio-container{
    display: grid;
    gap:1.2rem;

}

.portfolio-box{
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
     overflow: hidden; 
    width: 100%; /* Ajuste conforme necessário */
    height: auto;
    max-height: 300px; /* Limite a altura do contêiner */
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: 0.5s ease;
    
}

.portfolio-box img:hover {
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent,var(--main-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem);
    transition: 0.5s ease;

}

.portfolio-box:hover .portfolio-layer{
transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 1.8rem;
}

.portfolio-layer p{
margin: 0.2rem 0 0.5rem;
}

.portfolio-layer a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 3rem;
height: 3rem;
background: var(--text-color);
border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 1.2rem;
    color: var(--bg-color-02);
}




/* /arrumar o tamanho */
form{
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
    
}

form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

form .input-box input,
form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius:0.5rem;
    margin: 0.4rem 0;
}

form textarea{
    resize: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}


.social-media img{
   width: 3.5rem; 
}

.social-media a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 2.5rem;
   height: 3.5rem;
   background: transparent;
   border: solid 0.15rem var(--main-color) ;
   border-radius: 50%;
   font-size: 2rem;
   color: var(--main-color);
   margin: 1.8rem 0.5rem;
   transition: 0.5s ease;
   /* margin: 1.8rem 1rem 1.8rem 0; */
   
 }

 .social-media a:hover{
    background-color: var(--main-color);
    color:var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);

 }
 /* Oculta a seção 'more' por padrão */

 .more {
    display: none;
 }

/* === Botão e continuar lendo=== */

.btn, .ler{
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3rem ease;
    margin-top: 1.2rem;

}

.btn:hover, .ler:hover{
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color:var(--main-color);
    cursor: pointer;

}


/* === /Botão e continuar lendo=== */


/* menu hamburguer */
.menu-hamburguer{
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1{
    transform: translate(0,0.65rem) rotate(-45deg);
}

.change .bar2{
    opacity: 0;

}

.change .bar3{
    transform: translate(0,-0.65rem) rotate(45deg);
}


/* /menu hamburguer */


/* Responsividade */
/* Smartphone em pé*/
@media(min-width:0px){
    .menu-hamburguer{
        display: block;
    }

    .nav{
        display: none;
    }

    
    .nav-responsive a{
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem o; 
    }

    section{
        padding: 6rem 2.5rem;
    }

    .home, .about{
       flex-direction: column;
       gap:1.2rem ; 
    }

    .home-img, .about-img{
        width: 30%;
        max-width: 30%;
    }

    .home-content, .about-content{
        width: 100%;
    }

    .home-content div{
        text-align: center;
    }

    .home-content h1, .about-content h1{
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .services-container{
        flex-direction: column;
        align-items: center;
    }

    .services-box{
        width: 100%;
    }

    /* header{
        background-color: var(--color-01);
    } */
}
/* smartphone deitado */
@media(min-width:576px){
    .home-img, .about-img{
        width: 65%;
        max-width: 65%;
    }

    .services-box{
        width: 70%;
    }


    /* header{
        background-color: var(--color-02);
    } */
}
/* tablet */
@media(min-width:768px){
    .menu-hamburguer{
        display: none;
    }
    .nav{
        display: block;
    }

    .nav-responsive, .nav-responsive a{
        display: none;
    }

    .home, .about{
        flex-direction: row;
        justify-content: space-evenly;
     }
 
     .home-img, .about-img{
       max-width: 35%;
     }
 
    .home-content, .about-content{
        width: 50%;
    }

    /* .services-container{
        flex-direction: column;
        align-items: center;
    } */
    
    .services-box{
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-container{
        grid-template-columns: auto auto;
    }

    form .input-box input{
        width: 49%;
    }

    /* header{
        background-color: var(--color-03);
    } */
}
/* notebook */
@media(min-width:992px){

    /* .home-img, .about-img{
        max-width: 35%;
      } */
      .services-container{
        flex-direction: row;
        gap: 1.2rem;
      }


    header{
        background-color: var(--color-04);
    }
}
/* desktop */
@media(min-width:1200px){
    .home-img, .about-img{
        max-width: 25%;
      }

      .home-content h1{
        font-size: 2.7rem;
      }

      .home-content h3{
        font-size: 2rem;
      }

      .portfolio-container{
        grid-template-columns: auto auto auto; 
    }

    /* header{
        background-color: var(--color-05);
    } */
}


/* /Responsividade */


